#saveBtn{
    -fx-background-color: #2685d7;
}

#cancelBtn{
    -fx-background-color: #2685d7;
}

#cancelBtn:hover{
    -fx-background-color: #1a5e96;
}

#upBtn{
    -fx-background-color: #2685d7;
}

#upBtn:hover{
    -fx-background-color: #1a5e96;
}

#delBtn{
    -fx-background-color: #2685d7;
}

#vbox{
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.5), 10, 0, 0, 0);
}

#vbox1{
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.5), 10, 0, 0, 0);
}

#vbox2{
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.5), 10, 0, 0, 0);
}

.table-view .column-header-background{
    -fx-background-color: #ffffff;
    -fx-border-color: transparent transparent rgba(255,255,255,0.3) transparent;
    -fx-border-width: 1;
    -fx-background-insets: 0;
}

.table-view .column-header, .table-view .filler {
    -fx-background-color: #333;
    -fx-size: 25;
    -fx-border-width: 0 0 0 0;
    -fx-text-fill: #000000;
}
.table-view .column-header .label {
    -fx-font-size: 13px;
    -fx-font-family: "Modern No. 20";
    -fx-text-fill: black;
    -fx-alignment: center;
    -fx-text-fill: #fff;
    -fx-opacity: 1;
    -fx-border-width: 0px;
}

.table-row-cell:selected .text {
    -fx-fill:  #fff;

}

.table-cell {
    -fx-font-size: 14px;
    -fx-font-family:"Segoe UI", Helvetica, Arial, sans-serif;
    -fx-text-fill: #000000;
    -fx-alignment: center;
}

.table-column{
    -fx-alignment: center;
    -fx-font-size: 15px;
}

.table-view:focused .table-row-cell:filled:focused:selected {
    -fx-background-color: #008287;
}

#add{
    -fx-background-color: #2685d7;
}

.text-field{
    -fx-background-color: transparent;
    -fx-border-color:  #4373e5;
    -fx-border-width: 0 0 2 0;
    -fx-text-fill: #000000;
    -fx-font-family: "Times New Roman";
    -fx-font-size: 14;
    -fx-font-weight: 700;
}

#combo{
    -fx-background-color: transparent;
    -fx-border-color:  #4373e5;
    -fx-border-width: 0 0 2 0;
    -fx-text-fill: #000000;
    -fx-font-family: "Times New Roman";
    -fx-font-size: 14;
    -fx-font-weight: 700;
}

.button{
    -fx-background-color: #3b59ac;
}

.button:hover{
    -fx-background-color: #294079;
}

#add:hover{
    -fx-background-color: #1a5e96;
}

#saveBtn:hover{
    -fx-background-color: #1a5e96;
}

#delBtn:hover{
    -fx-background-color: #1a5e96;
}

#paine{
    -fx-border-radius: 50;
    -fx-background-radius: 50px;
    -fx-background-color: #1a5e96;
}
