#pane{
    -fx-background-image: url("/mz/com/sidratech/image/fundo.png");
    -fx-background-repeat: stretch;
    -fx-background-size: cover,auto,stretch,animation-fill-mode,alignment-adjust,align-self;
    -fx-background-position: center center;
}

#loginPane{
    -fx-background-image: url("/mz/com/sidratech/image/login.jpg");
    -fx-background-repeat: stretch;
     -fx-height: auto;
    -fx-background-size:400 500;
    -fx-background-position: center center;
}