#painelSuperior{
    -fx-border-color: #395c00;
    -fx-border-width: 1;
    -fx-border-radius: 15;
    -fx-background-radius: 15px;
    -fx-background-color: #395c00;
}

#entrar:hover{
    -fx-border-color: #007044;
    -fx-background-color: #007044;
}

#boxSuperior{
    -fx-border-width: 1;
    -fx-border-radius: 15;
}

#entrar{
    -fx-border-color: #00be55;
    -fx-border-width: 1;
    -fx-border-radius: 4;
    -fx-background-radius: 4px;
    -fx-background-color: #00be55; 
    -fx-text-fill: #ffffff;
}

#recuperarSenha{
    -fx-border-color: #bc00b7;
    -fx-border-width: 1;
    -fx-border-radius: 4;
    -fx-background-radius: 4px;
    -fx-background-color: #bc00b7; 
    -fx-text-fill: #ffffff;
}

#button{
    -fx-border-color: #395c00;
    -fx-border-width: 1;
    -fx-border-radius: 16;
    -fx-background-radius: 15px;
    -fx-background-color: #395c00; 
    -fx-text-fill: #ffffff;
}

#button:hover{
    -fx-background-color: #223f10;
}

#recuperarSenha:hover{
    -fx-border-color: #6500c7;
    -fx-background-color: #6500c7;
}

#painelEsquerdo{
    -fx-border-color: #395c00;
    -fx-border-width: 1;
    -fx-border-radius: 15;
    -fx-background-radius: 15px;
    -fx-background-color: #ffffff;
}

#boxEsquerdo{
    -fx-border-width: 1;
    -fx-border-radius: 15;
    -fx-background-radius: 15px;
}

#username{
    -fx-border-color: #ffffff;
    -fx-border-width: 1;
    -fx-border-radius: 6;
    -fx-background-radius: 6px;
    -fx-background-color: #ffffff;
}

#password{
    -fx-border-color: #ffffff;
    -fx-border-width: 1;
    -fx-border-radius: 6;
    -fx-background-radius: 6px;
    -fx-background-color: #ffffff;
}

#userHBox{
    -fx-border-color: #ffffff;
    -fx-border-width: 1;
    -fx-border-radius: 6;
    -fx-background-radius: 6px;
    -fx-background-color: #ffffff;
}

#passHBox{
    -fx-border-color: #ffffff;
    -fx-border-width: 1;
    -fx-border-radius: 6;
    -fx-background-radius: 6px;
    -fx-background-color: #ffffff;
}

sair:hover{
    -fx-background-fills: #e42020;
}

FontAwesomeIcon{
    -fx-cursor: hand;
}
